<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="Logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="Logcat" />
        <!--
                <appender-ref ref="Remote" />
        -->
    </root>

</configuration>